<!DOCTYPE html>

<html>
	<body>
		<strong>Weight: <%= weight %> </strong></br>
		<strong>Shipping Type: <%= type %> </strong><br/>
		<strong>Cost: $ <%= cost %> </strong><br/>
		<form action="prove08.html"> 
			<input type="submit" value="Return To Calculator">
		</form>
	</body>
</html>