<!DOCTYPE html>

<html>
	<body>
		<strong>Weight: <%= %> </strong></br>
		<strong>Shipping Type: <%= %> </strong><br/>
		<strong>Cost: $ <%= %> </strong><br/>
		<form action="prove08.html"> 
			<input type="submit" value="Return To Calculator">
		</form>
	</body>
</html>